:root {
  --first-color: #ffffff;
  --second-color: #cacee5;
  --third-color: #822934;
  --fourth-color: #0e111f;
  --fifth-color: #17192c;
  --default-font: "Prata", serif;
  --paragraph-font: "Merienda", cursive;
  --second-font: "Merriweather", serif;
}
body {
  background-color: var(--fourth-color);
  color: var(--second-color);
  font-family: var(--default-font);
}
p,
li {
  font-family: var(--paragraph-font);
}
header i {
  color: var(--second-color);
}
span,
strong,
.right a {
  color: var(--third-color);
  font-family: var(--second-font);
}

h1 {
  color: var(--first-color);
  font-size: 50px;
}
.home img {
  position: relative;
  top: -50px;
  left: -40px;
  box-shadow: 0px 2px 0px var(--third-color);
}
.home hr {
  border: 2px solid var(--third-color);
  width: 50px;
}
.home main h1 {
  font-size: 70px;
  margin-bottom: 70px;
  text-decoration: underline var(--third-color);
}
.contact-button {
  color: var(--third-color);
  border: 1px solid var(--third-color);
  border-radius: 5px;
  font-family: var(--second-font);
  font-size: 25px;
  padding: 10px 30px;
}
.contact-button:hover {
  color: var(--fourth-color);
  background-color: var(--third-color);
  transition: 0.3s ease-out;
}
.left h1,
.first-main {
  font-size: 100px;
}
.first-main {
  background-color: var(--fifth-color);
  text-align: center;
  margin: 100px 200px;
  box-shadow: 0px 5px 20px 20px #00000056;
}
.first-main ul {
  list-style: none;
  padding: 0px;
}
.second-main img {
  opacity: 25%;
}
.second-main h3,
footer .open-source-link,
.active {
  color: var(--third-color);
}
.material-symbols-outlined {
  position: relative;
  top: 9px;
  left: 10px;
  color: inherit;
}
footer,
.nav-button {
  background-color: var(--fifth-color);
}
footer a {
  color: var(--first-color);
}
.about a {
  color: var(--third-color);
}
.project hr {
  color: var(--third-color);
  border: 3px solid var(--third-color);
}
.project h2 {
  font-family: var(--second-font);
}
.btn-contact-page {
  background: linear-gradient(
    320deg,
    var(--fourth-color) 5%,
    var(--third-color) 65%
  );
  color: var(--first-color);
  width: 200px;
  border: 0px;
  font-size: 25px;
}
.btn-contact-page:hover {
  background: linear-gradient(
    320deg,
    var(--third-color) 5%,
    var(--fourth-color) 65%
  );
  color: var(--first-color);
}

@media (min-width: 500px) {
  .second-main h3 {
    position: relative;
    top: 100px;
    right: 150px;
  }
  form {
    margin-left: 100px;
    margin-right: 100px;
  }
}
@media (max-width: 500px) {
  .first-main i {
    font-size: 80px;
  }
  .first-main h3 {
    font-size: 30px;
  }
  .second-main h3 {
    padding-bottom: 10px;
  }
  .second-main img {
    margin-bottom: 50px;
  }
  .project h2 {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .project{
    text-align: center;
  }
  .project .contact-button {
    font-size: 20px;
  }
  .project h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }
}
@media (min-width: 575px) and (max-width: 991px) {
  .project img {
    padding-bottom: 30px;
  }
  .project {
    text-align: center;
  }
}
@media (min-width: 990px) {
  form {
    margin-left: 250px;
    margin-right: 250px;
  }
}
@media (min-width: 1000px) {
  .project img {
    position: relative;
    top: -460px;
    right: -40px;
    border-radius: 5px;
  }
  .project hr {
    color: var(--third-color);
    border: 3px solid var(--third-color);
    margin-top: -300px;
    margin-bottom: 100px;
  }
  .project .img-border {
    border: 7px solid var(--third-color);
    border-radius: 5px;
    width: 400px;
    height: 400px;
  }
  .project footer {
    margin-top: -230px;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .left h1 {
    font-size: 65px;
  }
}
